@page "/forms"

<div class="container">

    @*<EditForm Model="@contactDetails" OnValidSubmit="@HandleValidSubmit">*@
    <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@

        <div class="mb-3">
            <label for="FirstName" class="form-label">First Name</label>
            <InputText id="FirstName" class="form-control" @bind-Value="@contactDetails.FirstName" />
            <ValidationMessage For="@(() => contactDetails.FirstName)" class="invalid-feedback" />
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <div class="mb-3 form-check">
          <InputCheckbox id="IsOwnerOccupier" class="form-check-input" @bind-Value="@contactDetails.IsOwner" />
          <label class="form-check-label" for="IsOwnerOccupier">
            Is Owner Occupied
          </label>
        </div>

        <div class="mb-3">
          <label for="Comments" class="form-label">Comments</label>
          <InputTextArea id="Comments" @bind-Value="contactDetails.Comments" class="form-control" rows="3" aria-describedby="commentsHelp" />
          <div id="commentsHelp" class="form-text">Leave any comments that might be helpful when delivering your package.</div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
    
</div>

@code {
    ContactDetails contactDetails = new();
    EditContext editContext;

    private void HandleValidSubmit()
    {
        contactDetails = new();
    }

     protected override void OnInitialized()
    {
        editContext = new EditContext(contactDetails);
        editContext.SetFieldCssClassProvider(new BootstrapStyleProvider());
    }
}
